Co-Action-Network/data/*
tensorflow-DeepFM/example/data
AFM/attentional_factorization_machine/data/*
attentional_factorization_machine/data/*
AutoInt/AutoInt_1/data/*
AutoInt/AutoInt_2/socialRec/data/*
collaborative-filtering/AutoRec/ml-1m*
collaborative-filtering/Autorec_tf/data/*
collaborative-filtering/neural_collaborative_filtering/Data/*
collaborative-filtering/neural_collaborative_filtering/Pretrain/*
collaborative-filtering/review-on-collaborative-filtering/dataset/*
collaborative-filtering/review-on-collaborative-filtering/recsys/*
ComiRec/best_model/*
ComiRec/data/*
data/*
eges/EGES_2/checkpoints/*
eges/EGES_2/data/*
eges/EGES_2/data_cache/*
eges/EGES_2/embedding/*
gBDT/xgb/WeChat-zhihu-csdnblog-code/NLP/*
GBDT+LR-Demo/data/*
item2vec/data/*
item2vec/result/*
neural_factorization_machine/data/*
tensorflow-DeepFM/example/data/*
tensorflow-DeepFM/example/logs/*
tensorflow-DeepFM/example/output/*
word2vec/word2vec-pytorch_bceloss_cbowmean/data/*
word2vec/tfword2vec_skip-gram_nceloss/models/*
kaggle_pytorch_word2vec/data/text8*
*.zip
*.pyc
.idea
dien/script/data/*
embed_vis/checkpoint
word2vec/tf_word2vec_negsample/280.txt
word2vec/tf_word2vec_negsample/myvec
tensorflow-DeepFM/example/data
ComiRec/best_model
ComiRec/data
 Co-Action-Network/data
 AutoInt/AutoInt_2/featureRec/movielens
 AutoInt/AutoInt_2/sequentialRec
 AutoInt/AutoInt_2/socialRec
 AFM/attentional_factorization_machine/data

